{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
            
                <h1 class="my-5">Inscrivez-vous sur notre site !</h1>

                {{ form_start(form) }}
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-light">
                                    <h2 class="alert-heading">Informations générales</h2>
                                    <hr>
                                    {{ form_row(form.firstname)}}
                                    {{ form_row(form.lastname)}}
                                    {{ form_row(form.email)}}
                                    {{ form_row(form.picture)}}
                                </div>
                            </div>
                            <div class="col">
                                <div class="alert alert-light">
                                    <h2 class="alert-heading">Mot de passe</h2>
                                    <hr>
                                    {{ form_row(form.hash)}}
                                    {{ form_row(form.password_confirm)}}
                                </div>
                                <div class="alert alert-light">
                                    <h2 class="alert-heading">Détails</h2>
                                    <hr>
                                    {{ form_row(form.introduction)}}
                                    {{ form_row(form.description)}}
                                    <hr>
                                    <p>
                                        Vous y êtes presque, confirmez votre inscrition.
                                        <br>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-check"></i>
                                            Valider
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}